<header>
  <div class="container header__container">
    <nav class="site-nav">
      <a class="logo" href="#">
        <picture>
          <source
            srcset="
              ./images/logo/desktop-60.png    1x,
              ./images/logo/desktop@2-120.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/logo/tab-48.png 1x, ./images/logo/tab@2-96.png 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/logo/mob-41.png 1x, ./images/logo/mob@2-81.png 2x"
            media="(max-width:767px)"
          />
          <img src="./images/logo/mob-41.png" alt="Logo" />
        </picture>
      </a>

      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">How it's made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <ul class="hero__button--list">
      <li>
        <a class="hero__button--link products-link" href="#products"
          >Products</a
        >
      </li>
      <li>
        <a class="#" href="#about">How it's made?</a>
      </li>
    </ul>

    <div class="hero__info">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero__arrow btn--servicess" type="button">
        <img src="#" alt="" />
      </button>
    </div>
  </div>

  <div class="language">
            <img src="./images/lanquage/gb.svg" alt="en" data-google-lang="en" width="22"
                height="15">
            <img src="./images/lanquage/de.svg" alt="de" data-google-lang="de"
                class="language__img" width="22" height="15">
            <img src="./images/lanquage/es.svg" alt="es" data-google-lang="es"
                class="language__img" width="22" height="15">
            <img src="./images/lanquage/ua.svg" alt="uk" data-google-lang="uk"
                class="language__img" width="22" height="15">
        </div>
    </div>
</section>
