.burger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: none;
  position: relative;
  width: 24px;
  height: 16px;
  font-size: 0;
  z-index: 40;
}

.burger-menu::before,
.burger-menu::after {
  content: '';
  background-color: getColor('main-bg');
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: $animation-transition;
}

.burger-menu::before {
  top: 0px;
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu .burger-menu__item {
  background-color: getColor('main-bg');
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 41%;
}

.burger-menu.is-open::before {
  background-color: getColor('main-bg');
  transform: rotate(-45deg);
  top: 8px;
  transition: $animation-transition;
}

.burger-menu.is-open::after {
  background-color: getColor('main-bg');
  transform: rotate(45deg);
  bottom: 5px;
}

.burger-menu.is-open .burger-menu__item {
  transform: scale(0);
}

@media (min-width: 200px) {
  .burger-menu {
    display: block;
    border: none;
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
}
