header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-top: 12px;
  display: block;
}

.site-nav {
  position: relative;
  z-index: 50;
  @include flexCentered(flex, center, space-between);
}
